<link href="../../SiteAssets/MasterPage/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="../../Style Library/CSS/jquery-ui.css" rel="stylesheet" />
<link href="../../Style Library/CSS/BergerPaintsWorkflow.css" rel="stylesheet" />
<script src="../../Style Library/JS/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript" src="../../Style Library/JS/jquery.MultiFile.js"></script>
<script type="text/javascript" src="../../Style Library/JS/angular.min.js"></script>
<script type="text/javascript" src="../../Style Library/JS/angular-sanitize.js"></script>
<script src="../../Style Library/JS/constants.js" type="text/javascript"></script>
<script src="../../Style Library/JS/designationJSON.js" type="text/javascript"></script>
<script type="text/javascript" src="../../Style Library/JS/Marketingactivity.Controller.js"></script>
<style>
   .textBoxBGColor {
      background-color: aliceblue !important;
   }

   #ui-datepicker-div {
      width: 21% !important;
   }
</style>
<!-- APP MarketingActivityApp Start -->
<div ng-app="MarketingActivityApp" class="container BlockStockRequest">
   <div ng-controller="UserController" ng-init="InitPage()">
      <div ng-show="IsLoading" id="wait"
         style="display: none; min-width: 100%; height: auto; min-height: 100%; position: fixed; z-index: 10000; top:0; left:0; background-image: url('../../Style Library/Images/TransparentBackground.png'); background-size: 100% 100%; background-repeat: no-repeat; ">
         <a style="position: fixed; top: 47%; left: 50%;">Please wait</a><img
            src="../../Style Library/Images/wait_progress.gif" width="45" height="45" alt="Loading..."
            style="position: fixed; top: 50%; left: 50%;" />
      </div>
      <h2>Marketing Activity</h2>
      <div ng-hide="IsLoading" class="panel panel-default" id="divRequestorPanel">
         <div class="panel-body">
            <div class="row">
               <h4>Requestor Information</h4>
            </div>
            <div class="row">
               <div class="col-sm-2 labelHeader">Employee Name:</div>
               <div class="col-sm-2">
                  <label id="lblEmployeeName">{{UserInfo.EmployeeName}}</label>
               </div>
               <div class="col-sm-2 labelHeader">Employee ID:</div>
               <div class="col-sm-2">
                  <label id="lblEmployeeId">{{UserInfo.EmployeeId}}</label>
               </div>
               <div class="col-sm-2 labelHeader">Position:</div>
               <div class="col-sm-2">
                  <label id="lblPosition">{{UserInfo.Designation}}</label>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-2 labelHeader">Department:</div>
               <div class="col-sm-2">
                  <label id="lblDepartment">{{UserInfo.Department}}</label>
               </div>
               <div class="col-sm-2 labelHeader">Location:</div>
               <div class="col-sm-2">
                  <label id="lblLocation">{{UserInfo.OfficeLocation}}</label>
               </div>
               <div class="col-sm-2 labelHeader">Mobile :</div>
               <div class="col-sm-2">
                  <label id="lblMobileNo">{{UserInfo.Mobile}}</label>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-2 labelHeader">Email:</div>
               <div class="col-sm-2">
                  <label id="lblEmail">{{UserInfo.Email.EMail}}</label>
               </div>
               <div class="col-sm-2 labelHeader">Job Grade:</div>
               <div class="col-sm-2">
                  <label ng-model="jobGrade" id="lblJobGrade">{{UserInfo.EmployeeGrade}}</label>
               </div>
               <div class="col-sm-2 labelHeader">Request Date:</div>
               <div class="col-sm-2">
                  <label id="lblRequestDate"> {{ today | date }}</label>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- APP MarketingActivityApp End -->


   <!-- APP FormController Start -->
   <div ng-controller="FormController">
      <div class='row' id="wpiToggleControlBtnDiv">
         <div class='row col-md-4' ng-If="uniqueId == '' ">
            <h6 style="color:white">(All fields marked
               <label class='redStar'>*</label> are mandatory.)
            </h6>
         </div>
         <div class='row col-md-4' ng-If="uniqueId != '' ">
            <h3 style="color:white">Ref ID # {{requestCode}}</h3>
         </div>
         <!--<div ng-model="status" ng-bind-html="false" class="row col-md-4" id="wpiToggleControlBtn">
         <h3 style="color:white">Proposal Info
            <button type="button" value="A Show/Hide" id="toggleMessage" ng-click="toggle=!toggle" >					
               {{toggle ? "Hide" : "Show"}}
            </button>
         </h3>
         </div>-->
      </div>
      <!-- <div class="panel panel-default" id="divReimbursementPanel"> -->
      <div class="panel panel-default">
         <div class="panel-body">
            <div id="divInput">
               <div class="row" style="margin-left: -16px;">
                  <div class="col-sm-2 labelHeader">Project Name:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <input type="text" ng-model="FormData.ProjectName" class="textBoxBGColor" id="projectName" />
                  </div>

                  <div class="col-sm-2 labelHeader">Service Name:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select name="serviceName" id="selectService" ng-change="MapActivityName()"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor'
                        ng-model="FormData.ServiceName">
                        <option ng-repeat="service in services" value="{{service.value}}">{{service.label}}</option>
                     </select>
                  </div>

                  <div class="col-sm-2 labelHeader">Activity Name:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select id="activitySelect" ng-model="FormData.ActivityName" ng-change="MapCostHead()"
                        ng-disabled="activityNamesDropdownList == undefined || activityNamesDropdownList.length == 0"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor'>
                        <option value="">-- Select Activity --</option>
                        <option ng-repeat="activity in activityNamesDropdownList" value="{{activity}}">
                           {{activity}}</option>
                     </select>
                  </div>


               </div>
               <div class="row">

                  <div class="col-sm-2 labelHeader">Cost Head:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select id="selectedCostHead" ng-model="FormData.CostHead"
                        ng-disabled="costHeadDropdownList == undefined || costHeadDropdownList.length == 0"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor'>
                        <option value="">-- Select Cost Head --</option>
                        <option ng-repeat="costHead in costHeadDropdownList" value="{{costHead}}">{{costHead}}</option>
                     </select>
                  </div>

                  <div class="col-sm-2 labelHeader">Activity Type:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select id="activitySelect" ng-model="FormData.ActivityType"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor'>
                        <option ng-repeat="type in activityTypes" value="{{type.value}}">{{type.label}}</option>
                     </select>
                     <label></label>
                  </div>


                  <div class="col-sm-2 labelHeader">Budget Type:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select name="budgetType" id="selectBudgetType" ng-model="FormData.BudgetType"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor'>
                        <option ng-repeat="type in budgetTypes" value="{{type.value}}">{{type.label}}</option>
                     </select>
                     <label></label>
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 labelHeader">Brand Description:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select name="brandDescription" id="BrandDescription" ng-model="FormData.BrandDescription"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor'>
                        <option ng-repeat="brand in brands" value="{{brand.value}}">{{brand.label}}</option>
                     </select>
                     <label></label>
                  </div>

                  <div class="col-sm-2 labelHeader">Commitment Item Description:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select name="commitmentItem" id="selectCommitmentItem" ng-model="FormData.CommitmentItem"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor'>
                        <option ng-repeat="item in commitmentItems" value="{{item.value}}">{{item.label}}</option>
                     </select>
                     <label></label>
                  </div>

                  <div class="col-sm-2 labelHeader">Total Expected Expenses:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <input type="text" ng-model="FormData.TotalExpectedExpense" class="textBoxBGColor" valid-number
                        title="Please Fill in with a numerical value only" ng-init="totalExpectedExpense='0'"
                        id="totalExpectedExpense" />
                  </div>
               </div>

               <div class="row">
                  <div class="col-sm-2 labelHeader">Activity Start Date:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <input type="text" datepicker ng-model="FormData.ActivityStartDate" readonly class="textBoxBGColor"
                        id="activityStartDate" />
                     <label ng-model="FormData.ActivityStartDate"></label>
                  </div>

                  <div class="col-sm-2 labelHeader">Expected Delivery Date:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <input type="text" datepicker ng-model="FormData.ExpectedDeliveryDate" readonly
                        class="textBoxBGColor" id="expectedDeliveryDate" />
                     <label ng-model="FormData.ExpectedDeliveryDate"></label>
                  </div>
               </div>

               <div class="row">

                  <div class="col-sm-2 labelHeader">Service Receiving Date:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <input type="text" datepicker ng-model="FormData.ServiceReceivingDate" readonly
                        class="textBoxBGColor" id="serviceReceivingDate" />
                     <label ng-model="FormData.ServiceReceivingDate"></label>
                  </div>

                  <div class="col-sm-2 labelHeader">Number of vendor require for quotation:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select name="requiredVendorQuotation" id="selectRequiredVendorQuotation"
                        ng-model="FormData.RequiredVendorQuotation"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor'>
                        <option ng-repeat="vendor in vendorQuotations" value="{{vendor.value}}">{{vendor.label}}
                        </option>
                     </select>
                     <label></label>
                  </div>

                  <div class="col-sm-2 labelHeader">Justification for Single Vendor:
                     <label class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <input type="text" ng-model="FormData.SingleVendorJustification" class="textBoxBGColor"
                        id="singleVendorJustification" />
                  </div>
               </div>

               <div class="row panel-body">
                  <h4 class="panel-body">Attachments/Receipts:</h4>
               </div>
               <div id="divChooseAttachmentFile" class="row panel-body" ng-show="status=='ReimbursementSOICToUser'"
                  ng-hide="status=='GMMarketingToMarketingAccountant'||status=='ReimbursementGMMarketingToACConcern'||readMode == 'read'||status=='UserToSOIC' ||status=='UserToGMMarketing'|| status=='Submitted' ||status=='SOICtoGMMarketing' || status=='MarketingAccountantToAccountsConcern'|| status=='AccountsConcernToMarketingAccountant' ||status=='ReimbursementSubmitted' || status=='ReimbursementSOICtoGMMarketing' || status=='ReimbursementgMMarketingToACConcern' || status=='ReimbursementACConcernToMarketingAC' || status=='Completed' ">
                  <div class="col-sm-2 labelHeader">
                     <h6>Select All Attachments:</h6>
                  </div>
                  <div class="files col-sm-6 row" id="attachFilesContainer" ng-model="attachment1">
                     <input id="infringementFiles" type="file" class="multi browsebtn textBoxBGColor"
                        title="Any attachment name including any special charecter like ' & . will not be uploded" />
                  </div>
                  <div class="col-sm-4" ng-show='vm.uniqueId !=""'>
                     <span class='et-right et-style-night'>N.B. Any attachment name including any special charecter
                        e.g.<label class='redStar'>" ', . @ ` ~ " </label>will not be uploded.</span>
                  </div>
               </div>
               <div id="divAttachmentDisplayTbl" class="row" style="padding-left: 15px; overflow:hidden;"
                  ng-hide='uId == ""||status==""||hideAttachmentDiv = "true"'>
                  <div class="table-responsive panel-body" style="overflow-x:auto;">
                     <table id="tblReceipt" class="table css-serial">
                        <tbody>
                           <tr>
                              <th id="">SL#</th>
                              <th id="thReceipt">View Attachment</th>
                              <th id="thAttachted">Attached By</th>
                              <th id="thDate">Attachment Date</th>
                              <th id="thDelete" ng-hide="readMode == 'read' || status=='Completed'"></th>
                           </tr>
                        </tbody>
                        <tbody>
                           <tr ng-repeat="(i,receiptRow) in receiptRows">
                              <td id="tdSlNo"></td>
                              <td id="tdReceipt"><a
                                    href="{{receiptRow.AttachmentFiles.results[0].ServerRelativeUrl}}">{{receiptRow.AttachmentFiles.results[0].FileName}}</a>
                              </td>
                              <td id="tdAttachted">{{receiptRow.Author.Title}}</td>
                              <td id="tdDate">{{receiptRow.Created | date}}</td>
                              <!-- <td id="tdDelete" ng-hide="readMode == 'read'|| status=='Completed' ||status=='Submitted' || status=='SOICtoGMMarketing' || status=='GMMarketingToAccountsConcern'||status=='AccountsConcernToMarketingAccountant'|| status=='ReimbursementSubmitted' || status=='ReimbursementSOICtoGMMarketing' || status=='ReimbursementgMMarketingToACConcern' || status=='ReimbursementACConcernToMarketingAC'"><img id='imgDelete' src='../../Style Library/Images/Delete.png' class='delete' title='Delete' ng-click="deleteReceiptRow(i,receiptRow)" /></td> -->
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div id="divActionButtonPanel" class="panel panel-default" ng-hide='readMode == "read"'>
                  <div class="panel-body">
                     <div class="row">
                        <div class="col-sm-1 labelHeader comment">Comment:</div>
                        <div class="col-sm-4 comment">
                           <textarea rows="3" cols="32" id="txtComment" ng-model="actionComment"></textarea>
                        </div>
                        <div class="col-sm-7">
                           <div class=" row">
                              <div class="col-sm-2">
                                 <input type="button" id="btnsave" value="Save" ng-click="clickSaveOrSubmit('Saved')" />
                              </div>
                              <div class="col-sm-2">
                                 <input type="button" id="btnsubmit" value="Submit"
                                    ng-click="clickSaveOrSubmit('Submitted')" />

                              </div>
                              <div class="col-sm-2">
                                 <input type="button" id="btncancel" value="Cancel"
                                    ng-click="ApproverAction('Rejected')"
                                    ng-show="status=='OPMApproved' || status=='MDApproved' || status=='ReimbursementSaved' || status=='OPMToUser'" />
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-2">
                                 <input type="button" id="btnApprove" value="Approve"
                                    ng-click="ApproverAction('Approved')"
                                    ng-show="status=='MarketingAccountantToAccountsConcern'||status=='GMMarketingToMarketingAccountant'||status=='ReimbursementGMMarketingToACConcern'||status=='UserToSOIC'||status=='UserToGMMarketing'|| status=='Submitted'|| status=='SOICtoGMMarketing' || (status=='GMMarketingToAccountsConcern' && readMode !='e')|| status=='AccountsConcernToMarketingAccountant' ||status=='ReimbursementSubmitted' || status=='ReimbursementSOICtoGMMarketing' || status=='ReimbursementACConcernToMarketingAC' || status=='ReimbursementUserToSOIC' || status=='ReimbursementUserToGMMarketing'" />
                              </div>
                              <div class="col-sm-2">
                                 <input type="button" id="btnReject" value="Reject"
                                    ng-click="ApproverAction('Rejected')"
                                    ng-show="status=='UserToSOIC'||status=='Submitted' ||status=='ReimbursementSubmitted' || status=='SOICtoGMMarketing' || (status=='GMMarketingToAccountsConcern'&& readMode !='e')|| status=='AccountsConcernToMarketingAccountant'|| status=='ReimbursementUserToSOIC' || status=='ReimbursementUserToGMMarketing'" />
                              </div>
                              <div class="col-sm-2">
                                 <input type="button" id="btnChange" value="Request Change"
                                    ng-click="ApproverAction('Changed')"
                                    ng-show="status=='Submitted' || status=='MarketingAccountantToAccountsConcern'|| status=='AccountsConcernToMarketingAccountant' || status=='ReimbursementSubmitted'||status=='ReimbursementSOICtoGMMarketing'|| status=='ReimbursementUserToSOIC' || status=='ReimbursementUserToGMMarketing'"
                                    ng-hide="status=='ReimbursementSOICtoGMMarketing'||status=='ReimbursementGMMarketingToACConcern'||uId==''||status==''||status=='SOICtoUser'||status=='MarketingAccountantToAccountsConcern' || status=='AccountsConcernToUser'||status=='ProposalApproved&ActualBillSubmissionRequest' ||status=='ReimbursementGMMarketingToUser' " />
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel panel-default" id="divErrorPanel" ng-show="showStatus">
                  <div class="panel-body">
                     <div id="status" ng-style="{'font-weight': bold, 'color': textColor}" ng-bind="statusText">
                     </div>
                  </div>
               </div>
               <div class="panel-body" id="divAuditPanel" ng-hide='status==""'>
                  <div class="row">
                     <h4>Approval History</h4>
                  </div>
                  <div class="row">
                     <div class="col-sm-2 labelHeader">Pending With:</div>
                     <div class="col-sm-2">
                        <label id="lblPendingWith">{{pendingWithName}}</label>
                     </div>
                  </div>
                  <div class="table-responsive" style="overflow-x:auto;">
                     <table id="tblAudit" class="table css-serial">
                        <tbody>
                           <tr>
                              <th>SL#</th>
                              <th>Approval Date</th>
                              <th>Status</th>
                              <th>Action By</th>
                              <th>Comment</th>
                           </tr>
                        </tbody>
                        <tbody>
                           <tr ng-repeat="(i,audit) in auditHistory">
                              <td></td>
                              <td>{{audit.Created | date}}</td>
                              <td>{{audit.Status}}</td>
                              <td>{{audit.Author.Title}}</td>
                              <td>{{audit.Comment}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- APP FormController end -->
   </div>
</div>