<link href="../../SiteAssets/MasterPage/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="../../Style Library/CSS/jquery-ui.css" rel="stylesheet" />
<link href="../../Style Library/CSS/BergerPaintsWorkflow.css" rel="stylesheet" />
<script src="../../Style Library/JS/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript" src="../../Style Library/JS/jquery.MultiFile.js"></script>
<script type="text/javascript" src="../../Style Library/JS/angular.min.js"></script>
<script type="text/javascript" src="../../Style Library/JS/angular-sanitize.js"></script>
<script src="../../Style Library/JS/constants.js" type="text/javascript"></script>
<script src="../../Style Library/JS/designationJSON.js" type="text/javascript"></script>
<script type="text/javascript" src="../../Style Library/JS/Marketingactivity.Data.js"></script>
<script type="text/javascript" src="../../Style Library/JS/Marketingactivity.Controller.js"></script>
<style>
   .textBoxBGColor {
      background-color: aliceblue !important;
   }

   #ui-datepicker-div {
      width: 21% !important;
   }

   input[type="date"] {
      border: 1px solid #ccc;
      background-color: #f2f2f2;
      width: 100%;
      height: 28px;
      padding: 0px 5px;
   }

   input[type="month"] {
      border: 1px solid #ccc;
      background-color: #f2f2f2;
      width: 100%;
      height: 28px;
      padding: 0px 5px;
   }

   .spinner-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      /* Center the spinner vertically on the page */
      position: fixed;
      /* Position the spinner relative to the viewport */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.7);
      /* Add a semi-transparent background to overlay everything */
      z-index: 9999;
      /* Set a high z-index value to place it in front */
   }


   .spinner {
      border: 4px solid rgba(0, 0, 0, 0.3);
      border-top: 4px solid #3498db;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 1s linear infinite;
   }

   input[type=submit] {
      font-size: 14px;
      font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important;
      border-radius: 4px 4px 4px 4px;
      padding: 5px 10px;
      background-color: navy !important;
      color: white;
      min-width: 110px;
   }

   input[type=number] {
      width: 100%;
      padding: 2px 5px;
      font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important;
      border: 1px solid #ABABAB;
      color: #444;
      background-color: aliceblue !important;
      font-size: inherit;
      line-height: inherit;
   }

   .error {
      color: red;
      font-weight: bold;
      font-size: small;
   }

   @keyframes spin {
      0% {
         transform: rotate(0deg);
      }

      100% {
         transform: rotate(360deg);
      }
   }
</style>
<!--#region APP MarketingActivityApp Start -->
<div ng-app="MarketingActivityApp" class="container BlockStockRequest">
   <div ng-controller="UserController">
      <div ng-show="IsLoading" ng-class="{ 'spinner-container': spinnerActive  }">
         <div ng-class="{ 'spinner': spinnerActive  }"></div>
      </div>
      <h2>Marketing Activity</h2>
      <div ng-hide="IsLoading" class="panel panel-default" id="divRequestorPanel">
         <div class="panel-body">
            <div class="row">
               <h4>Requestor Information</h4>
            </div>
            <div class="row">
               <div class="col-sm-2 labelHeader">Employee Name:</div>
               <div class="col-sm-2">
                  <label id="lblEmployeeName">{{UserInfo.EmployeeName}}</label>
               </div>
               <div class="col-sm-2 labelHeader">Employee ID:</div>
               <div class="col-sm-2">
                  <label id="lblEmployeeId">{{UserInfo.EmployeeId}}</label>
               </div>
               <div class="col-sm-2 labelHeader">Position:</div>
               <div class="col-sm-2">
                  <label id="lblPosition">{{UserInfo.Designation}}</label>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-2 labelHeader">Department:</div>
               <div class="col-sm-2">
                  <label id="lblDepartment">{{UserInfo.Department}}</label>
               </div>
               <div class="col-sm-2 labelHeader">Location:</div>
               <div class="col-sm-2">
                  <label id="lblLocation">{{UserInfo.OfficeLocation}}</label>
               </div>
               <div class="col-sm-2 labelHeader">Mobile :</div>
               <div class="col-sm-2">
                  <label id="lblMobileNo">{{UserInfo.Mobile}}</label>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-2 labelHeader">Email:</div>
               <div class="col-sm-2">
                  <label id="lblEmail">{{UserInfo.Email.EMail}}</label>
               </div>
               <div class="col-sm-2 labelHeader">Job Grade:</div>
               <div class="col-sm-2">
                  <label ng-model="jobGrade" id="lblJobGrade">{{UserInfo.EmployeeGrade}}</label>
               </div>
               <div class="col-sm-2 labelHeader">Request Date:</div>
               <div class="col-sm-2">
                  <label id="lblRequestDate"> {{ today | date }}</label>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--#endregion APP MarketingActivityApp End -->


   <!-- #region APP FormController Start -->
   <div ng-controller="FormController">
      <div class='row' id="wpiToggleControlBtnDiv">
         <div class='row col-md-4' ng-If="uniqueId == '' ">
            <h6 style="color:red">(All fields marked
               <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label> are mandatory.)
            </h6>
         </div>
         <div class='row col-md-4' ng-If="uniqueId != '' ">
            <h3 style="color:white">Ref ID # {{requestCode}}</h3>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-body">
            <div ng-show="IsLoading" ng-class="{ 'spinner-container': spinnerActive  }">
               <div ng-class="{ 'spinner': spinnerActive  }"></div>
            </div>
            <div id="divInput">
               <div class="row" style="margin-left: -16px;">
                  <div class="col-sm-2 labelHeader">Project Name:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <input ng-hide="IsDataReadOnly && !EditMode" type="text" ng-model="FormData.ProjectName"
                        class="textBoxBGColor" id="projectName" name="pName" required />
                     <span class="error" ng-show="errors.ProjectName"> {{errors.ProjectName}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.ProjectName}}</span>
                  </div>

                  <div class="col-sm-2 labelHeader">Service Name:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select ng-hide="IsDataReadOnly && !EditMode" name="serviceName" id="selectService"
                        ng-change="MapActivityName()"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor'
                        ng-model="FormData.ServiceName" required>
                        <option ng-repeat="service in services" value="{{service.value}}">{{service.label}}</option>
                     </select>
                     <span class="error" ng-show="errors.ServiceName"> {{errors.ServiceName}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.ServiceName}}</span>
                  </div>

                  <div class="col-sm-2 labelHeader">Activity Name:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select ng-hide="IsDataReadOnly && !EditMode" id="activitySelect" ng-model="FormData.ActivityName"
                        ng-change="MapCostHead()"
                        ng-disabled="activityNamesDropdownList == undefined || activityNamesDropdownList.length == 0"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor' required>
                        <option value="">-- Select Activity --</option>
                        <option ng-repeat="activity in activityNamesDropdownList" value="{{activity}}">
                           {{activity}}</option>
                     </select>
                     <span class="error" ng-show="errors.ActivityName"> {{errors.ActivityName}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.ActivityName}}</span>
                  </div>


               </div>
               <div class="row">

                  <div class="col-sm-2 labelHeader">Cost Head:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select ng-change="GetGLNo()" ng-hide="IsDataReadOnly && !EditMode" id="selectedCostHead"
                        ng-model="FormData.CostHead"
                        ng-disabled="costHeadDropdownList == undefined || costHeadDropdownList.length == 0"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor' required>
                        <option value="">-- Select Cost Head --</option>
                        <option ng-repeat="costHead in costHeadDropdownList" value="{{costHead}}">{{costHead}}
                        </option>
                     </select>
                     <span class="error" ng-show="errors.CostHead"> {{errors.CostHead}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.CostHead}}</span>
                  </div>

                  <div class="col-sm-2 labelHeader">GL No.:
                  </div>
                  <div class="col-sm-2">
                     <input ng-hide="IsDataReadOnly && !EditMode" type="text" ng-model="GLCode" class="textBoxBGColor"
                        name="pName" readonly />
                     <span ng-show="IsDataReadOnly && !EditMode">{{GLCode}}</span>
                  </div>

                  <div class="col-sm-2 labelHeader">Activity Type:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select ng-hide="IsDataReadOnly && !EditMode" id="activitySelect" ng-model="FormData.ActivityType"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor' required>
                        <option ng-repeat="type in activityTypes" value="{{type.value}}">{{type.label}}</option>
                     </select>
                     <span class="error" ng-show="errors.ActivityType"> {{errors.ActivityType}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.ActivityType}}</span>
                  </div>

               </div>

               <div class="row">

                  <div class="col-sm-2 labelHeader">Budget Type:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select ng-hide="IsDataReadOnly && !EditMode" name="budgetType" id="selectBudgetType"
                        ng-model="FormData.BudgetType"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor' required>
                        <option ng-repeat="type in budgetTypes" value="{{type.value}}">{{type.label}}</option>
                     </select>
                     <span class="error" ng-show="errors.BudgetType"> {{errors.BudgetType}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.BudgetType}}</span>
                  </div>

                  <div class="col-sm-2 labelHeader">Brand Description:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select ng-hide="IsDataReadOnly && !EditMode" name="brandDescription" id="BrandDescription"
                        ng-model="FormData.BrandDescription"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor' required>
                        <option ng-repeat="brand in brands" value="{{brand.value}}">{{brand.label}} - {{brand.number}}
                        </option>
                     </select>
                     <span class="error" ng-show="errors.BrandDescription"> {{errors.BrandDescription}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.BrandDescription}}</span>
                  </div>

                  <div class="col-sm-2 labelHeader">Commitment Item Description:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select ng-hide="IsDataReadOnly && !EditMode" name="commitmentItem" id="selectCommitmentItem"
                        ng-model="FormData.CommitmentItem"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor' required>
                        <option ng-repeat="item in commitmentItems" value="{{item.value}}">{{item.label}} -
                           {{item.number}} </option>
                     </select>
                     <span class="error" ng-show="errors.CommitmentItem"> {{errors.CommitmentItem}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.CommitmentItem}}</span>
                  </div>

               </div>

               <div class="row">

                  <div class="col-sm-2 labelHeader">Total Expected Expenses:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <input ng-hide="IsDataReadOnly && !EditMode" type="number" ng-model="FormData.TotalExpectedExpense"
                        class="textBoxBGColor" valid-number title="Please Fill in with a numerical value only"
                        ng-init="totalExpectedExpense='0'" id="totalExpectedExpense" required />
                     <span class="error" ng-show="errors.TotalExpectedExpense"> {{errors.TotalExpectedExpense}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.TotalExpectedExpense |
                        currency:"৳"}}</span>
                  </div>

                  <div class="col-sm-2 labelHeader">Activity Start Date:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <input ng-hide="IsDataReadOnly && !EditMode" type="date" ng-model="FormData.ActivityStartDate"
                        class="textBoxBGColor" id="activityStartDate" required />
                     <span class="error" ng-show="errors.ActivityStartDate"> {{errors.ActivityStartDate}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.ActivityStartDate | date}}</span>
                  </div>

                  <div class="col-sm-2 labelHeader">Expected Delivery Date:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <input ng-hide="IsDataReadOnly && !EditMode" type="date" ng-model="FormData.ExpectedDeliveryDate"
                        class="textBoxBGColor" id="expectedDeliveryDate" required />
                     <span class="error" ng-show="errors.ExpectedDeliveryDate"> {{errors.ExpectedDeliveryDate}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.ExpectedDeliveryDate | date}}</span>
                  </div>
               </div>

               <div class="row">

                  <div class="col-sm-2 labelHeader">Service Receiving Date:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <input ng-hide="IsDataReadOnly && !EditMode" type="month" ng-model="FormData.ServiceReceivingDate"
                        class="textBoxBGColor" id="serviceReceivingDate" required />
                     <span class="error" ng-show="errors.ServiceReceivingDate"> {{errors.ServiceReceivingDate}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.ServiceReceivingDate | date}}</span>
                  </div>
                  <div class="col-sm-2 labelHeader">Service Ending Date:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <input ng-hide="IsDataReadOnly && !EditMode" type="month" ng-model="FormData.ServiceEndingDate"
                        class="textBoxBGColor" id="serviceEndingDate" required />
                     <span class="error" ng-show="errors.ServiceEndingDate"> {{errors.ServiceEndingDate}} </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.ServiceEndingDate | date}}</span>
                  </div>

                  <div class="col-sm-2 labelHeader">Number of vendor require for quotation:
                     <label ng-hide="IsDataReadOnly && !EditMode" class='redStar'>*</label>
                  </div>
                  <div class="col-sm-2">
                     <select ng-hide="IsDataReadOnly && !EditMode" name="requiredVendorQuotation"
                        id="selectRequiredVendorQuotation" ng-model="FormData.RequiredVendorQuotation"
                        class='fld_single float-label-parent float-label-select-parent textBoxBGColor' required>
                        <option ng-repeat="vendor in vendorQuotations" value="{{vendor.value}}">{{vendor.label}}
                        </option>
                     </select>
                     <span class="error" ng-show="errors.RequiredVendorQuotation"> {{errors.RequiredVendorQuotation}}
                     </span>
                     <span ng-show="IsDataReadOnly && !EditMode">{{FormData.RequiredVendorQuotation}}</span>
                  </div>

               </div>
               <div class="row">
                  <div ng-show="showPRNumber">
                     <div class="col-sm-2 labelHeader">PR Number:</div>
                     <div class="col-sm-2">
                        <span ng-show="IsDataReadOnly && !EditMode">{{FormData.PRNumber}}</span>
                     </div>
                  </div>
                  <div ng-show="showPRNumber">
                     <div class="col-sm-2 labelHeader">PR Date:</div>
                     <div class="col-sm-2">
                        <span ng-show="IsDataReadOnly && !EditMode">{{FormData.PRDate | date}}</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div style="margin-top: 20px;" class="col-sm-2 labelHeader">Justification for Single Vendor:</div>
               <div style="margin-top: 20px;" class="col-sm-2">
                  <input ng-hide="IsDataReadOnly && !EditMode" type="text" ng-model="FormData.SingleVendorJustification"
                     class="textBoxBGColor" id="singleVendorJustification" required />
                  <span ng-show="IsDataReadOnly && !EditMode">{{FormData.SingleVendorJustification}}</span>
               </div>
               <div ng-hide="IsDataReadOnly" style="display: flex; flex-direction: column-reverse;">
                  <div>
                     <div class="col-sm-2 labelHeader">
                        <h6>Select All Attachments:</h6>
                     </div>
                     <div class="files col-sm-6 row" id="ReqAttachFilesContainer" ng-model="attachment1">
                        <input style=" margin-left: 115px" id="RecInfringementFiles" type="file"
                           class="multi browsebtn textBoxBGColor"
                           title="Any attachment name including any special charecter like ' & . will not be uploded" />
                     </div>
                  </div>
                  <div style="color: red; font-size: small; margin-left: 310px;"><strong>Attention:</strong> Attach
                     additional
                     information for multiple
                     Brand
                     and Commitment Items.</div>
               </div>

               <div class="col-sm-2 labelHeader">Remarks: <span ng-bind-html="FormData.Reamarks"
                     ng-show="IsDataReadOnly && !EditMode"></span>
               </div>
               <div class="col-sm-4">
                  <textarea ng-hide="IsDataReadOnly && !EditMode" name="Remarks" type="text"
                     ng-model="FormData.Reamarks" cols="36" rows="3"></textarea>
               </div>
            </div>

            <div class="row panel-body">
               <h4 class="panel-body">Attachments/Receipts for Multiple Brand and Commitment Items:</h4>
            </div>
            <div id="divAttachmentDisplayTbl" class="row" style="padding-left: 15px; overflow:hidden;"
               ng-hide='uId == ""||status==""||hideAttachmentDiv = "true"'>
               <div class="table-responsive panel-body" style="overflow-x:auto;">
                  <table id="tblReceipt" class="table css-serial">
                     <tbody>
                        <tr>
                           <th id="">SL#</th>
                           <th id="thReceipt">View Attachment</th>
                           <th id="thAttachted">Attached By</th>
                           <th id="thDate">Attachment Date</th>
                           <th id="thDelete" ng-hide="readMode == 'read' || status=='Completed'"></th>
                        </tr>
                     </tbody>
                     <tbody>
                        <tr ng-repeat="(i,receiptRow) in receiptRows" ng-if="receiptRow.AttachmentType === 'requester' ">
                           <td id="tdSlNo"></td>
                           <td id="tdReceipt"><a
                                 href="{{receiptRow.AttachmentFiles.results[0].ServerRelativeUrl}}">{{receiptRow.AttachmentFiles.results[0].FileName}}</a>
                           </td>
                           <td id="tdAttachted">{{receiptRow.Author.Title}}</td>
                           <td id="tdDate">{{receiptRow.Created | date}}</td>
                        </tr>
                     </tbody>
                  </table>
                  <strong style="text-align: center;" ng-show="receiptRows.length === 0">No Attachment</strong>
               </div>
            </div>

            <div ng-hide="IsRejectedOrCompleted">
               <div class="row panel-body">
                  <h4 class="panel-body">Attachments/Receipts:</h4>
               </div>
               <div id="divChooseAttachmentFile" class="row panel-body">
                  <div class="col-sm-2 labelHeader">
                     <h6>Select All Attachments:</h6>
                  </div>
                  <div class="files col-sm-6 row" id="attachFilesContainer" ng-model="attachment2">
                     <input id="infringementFiles" type="file" class="multi browsebtn textBoxBGColor"
                        title="Any attachment name including any special charecter like ' & . will not be uploded" />
                  </div>
                  <div class="col-sm-4" ng-show='vm.uniqueId !=""'>
                     <span class='et-right et-style-night'>N.B. Any attachment name including any special
                        charecter
                        e.g.<label class='redStar'>" ', . @ ` ~ " </label>will not be uploded.</span>
                  </div>
               </div>
            </div>
            <div id="divAttachmentDisplayTbl" class="row" style="padding-left: 15px; overflow:hidden;"
               ng-hide='uId == ""||status==""||hideAttachmentDiv = "true"'>
               <div class="table-responsive panel-body" style="overflow-x:auto;">
                  <table id="tblReceipt" class="table css-serial">
                     <tbody>
                        <tr>
                           <th id="">SL#</th>
                           <th id="thReceipt">View Attachment</th>
                           <th id="thAttachted">Attached By</th>
                           <th id="thDate">Attachment Date</th>
                           <th id="thDelete" ng-hide="readMode == 'read' || status=='Completed'"></th>
                        </tr>
                     </tbody>
                     <tbody>
                        <tr ng-repeat="(i,receiptRow) in receiptRows" ng-if="receiptRow.AttachmentType === 'general' ">
                           <td id="tdSlNo"></td>
                           <td id="tdReceipt"><a
                                 href="{{receiptRow.AttachmentFiles.results[0].ServerRelativeUrl}}">{{receiptRow.AttachmentFiles.results[0].FileName}}</a>
                           </td>
                           <td id="tdAttachted">{{receiptRow.Author.Title}}</td>
                           <td id="tdDate">{{receiptRow.Created | date}}</td>
                        </tr>
                     </tbody>
                  </table>
                  <strong style="text-align: center;" ng-show="receiptRows.length === 0">No Attachment</strong>
               </div>
            </div>
            <div id="divActionButtonPanel" class="panel panel-default" ng-hide="IsRejectedOrCompleted">
               <div class="panel-body">
                  <!-- Final Approver Fields -->
                  <div ng-show="isFinalApprover">
                     <div class="row">
                     </div>
                     <div class="row">
                        <div class="col-sm-1 labelHeader">PR Number: <span style="color: red;">*</span></div>
                        <div class="col-sm-2">
                           <input name="PRNumber" type="number" ng-model="FormData.PRNumber" required></input>
                        </div>
                        <span class="error" ng-show="errors.PRNumber"> {{errors.PRNumber}} </span>
                     </div>
                     <div class="row">
                        <div class="col-sm-1 labelHeader">PR Date: <span style="color: red;">*</span></div>
                        <div class="col-sm-2">
                           <input name="PRDate" type="date" ng-model="FormData.PRDate" required></input>
                        </div>
                        <span class="error" ng-show="errors.PRDate"> {{errors.PRDate}} </span>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-1 labelHeader comment">Comment:</div>
                     <div class="col-sm-4">
                        <textarea name="actionComment" ng-model="actionComment" cols="36" rows="3"></textarea>
                     </div>
                     <div class="col-sm-7">
                        <div class=" row">
                           <div class="col-sm-2">
                              <input type="button" id="btnsubmit" value="Submit" ng-show="showSaveOrSubmitBtn"
                                 ng-click="clickSaveOrSubmit('Submitted')" ng-disabled="form.$invalid" />
                           </div>
                           <div class="col-sm-2">
                              <input type="button" id="btnClosed" value="Closed" ng-show="showCloseBtn"
                                 ng-click="clickSaveOrSubmit('Closed')" />
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-2">
                              <input type="button" id="btnApprove" value="Approve" ng-click="ApproverAction('Approved')"
                                 ng-show="showApproveBtn" />
                           </div>
                           <div class="col-sm-2">
                              <input type="button" id="btnReject" value="Reject" ng-click="ApproverAction('Rejected')"
                                 ng-show="showRejectBtn">
                           </div>
                           <div class="col-sm-2">
                              <input type="button" id="btnChange" value="Request Change"
                                 ng-click="ApproverAction('Changed')" ng-show="showChangeBtn" />
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default" id="divErrorPanel" ng-show="showStatus">
               <div class="panel-body">
                  <div id="status" ng-style="{'font-weight': bold, 'color': textColor}" ng-bind="statusText">
                  </div>
               </div>
            </div>
            <div class="panel-body" id="divAuditPanel" ng-hide='status==""'>
               <div class="row">
                  <h4>Approval History</h4>
               </div>
               <div class="row">
                  <div class="col-sm-2 labelHeader">Pending With:</div>
                  <div class="col-sm-2">
                     <label id="lblPendingWith">{{pendingWithName}}</label>
                  </div>
               </div>
               <div class="table-responsive" style="overflow-x:auto;">
                  <table id="tblAudit" class="table css-serial">
                     <tbody>
                        <tr>
                           <th>SL#</th>
                           <th>Approval Date</th>
                           <th>Status</th>
                           <th>Action By</th>
                           <th>Comment</th>
                        </tr>
                     </tbody>
                     <tbody>
                        <tr ng-repeat="(i,audit) in auditHistory">
                           <td></td>
                           <td>{{audit.Created | date}}</td>
                           <td>{{audit.Status}}</td>
                           <td>{{audit.Author.Title}}</td>
                           <td>
                              <p ng-bind-html="audit.Comment"></p>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- #endregion APP FormController end -->
</div>
</div>